@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("ella.jpeg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
